/* ==============================================
    Name: Blog page css
    Creact by: Dang Phuong Tay
    Creact at: 31/1/2024
    Update at: 31/1/2024
============================================== */
.blog{
    width: 100%;
    margin-top: 65px;
}
.blog__banner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 25rem;
}
.blog__banner::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-background-1);
    opacity: .7;
}
.blog__banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blog__banner--text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--color-text-6);
}
.blog__banner--text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blog__banner--text p{
   font-size: 3.5rem;
   font-weight: 700;
   white-space: nowrap;
   text-transform: capitalize;
}
.blog__banner--text span{
    display: flex;
}
.blog__container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.blog__container--new{
    /* height: 30vh; */
}
.blog__container--bottom{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.blog__container--bottom__right{
    width: 35%;
}
.blog__container--bottom__left{
    width: 60%;
}

.blog__container--bottom__left--header__list--item,
.blog__container--bottom__right--header__list--item{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
.blog__container--new__list--item__text p,
.blog__container--bottom__left--header__list--item__text p,
.blog__container--bottom__right--header__list--item__text p{
    padding-bottom: 5px;
    font-size: var(--size-text-5);
    font-weight: 500;
}
.blog__container--new__list--item__text span,
.blog__container--bottom__left--header__list--item__text span,
.blog__container--bottom__right--header__list--item__text span{
    font-size: var(--size-text-4);
    color: var(--color-text-11);
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.1rem;
}
.blog__container--bottom__left--header__list--item__img{
    width: 350px;
    border-radius: var(--border-radius-size-3);
    overflow: hidden;
}
.blog__container--bottom__left--header__list--item__img img{
    width: 100%;
}
.blog__container--bottom__right--header__list--item__number{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-size-6);
    font-size: var(--size-text-5);
    font-style: italic;
    font-weight: 600;
    color: var( --color-text-6);
    background: var(--color-background-2);
    padding: 7px 15px;
    opacity: .5;
}
.blog__container--new__header p,
.blog__container--bottom__left--header p,
.blog__container--bottom__right--header p{
    font-size: var(--size-text-9);
    padding-bottom: 20px;
    font-weight: 600;
    border-bottom: 3px solid var(--color-text-1);
    margin-bottom: 20px;
    margin-top: 40px;
}
.blog__container--new__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
}
.blog__container--new__list--item{
    width: 100%;
}
.blog__container--new__list--item__img{
    width: 100%;
    height: 225px;
    overflow: hidden;
    border-radius: var(--border-radius-size-3);
}
.blog__container--new__list--item__img img{
    object-fit: cover;
    width: 100%;
}
.blog__container--new__list--item p{
    font-size: var(--size-text-5);
    font-weight: 600;
}
.blog__container--new__list--item__text--at{
    color: var(--color-text-19);
    font-size: var(--size-text-3);
    opacity: .8;
    margin-top: 5px;
}
@media only screen and (max-width: 1250px) {

    .blog__container{
        padding: 0 30px;
     }
     .blog__banner{
        height: 15rem;
    }
    .blog__banner--text p{
        font-size: 2rem;
     }
     .blog__banner--text span{
        font-size: var(--size-text-4);
     }
 }
@media only screen and (max-width: 850px) {
    .blog__banner--text{
        width: 450px;
     }
    .blog__banner--text p{
        font-size: 1.7rem;
        white-space: normal;
     }
     .blog__banner--text span{
        font-size: var(--size-text-3);
     }
    .blog__container--bottom__right{
        width: 100%;
    }
    .blog__container--bottom__left{
        display: none;
    }
    .blog__container--new__header p,
    .blog__container--bottom__left--header p,
    .blog__container--bottom__right--header p{
    font-size: var(--size-text-7);
    padding-bottom: 15px;
    font-weight: 600;
    border-bottom: 3px solid var(--color-text-1);
    margin-bottom: 15px;
    margin-top: 30px;
}
 }
 @media only screen and (max-width: 450px) {
    .blog__banner--text{
        width: 350px;
     }
    .blog__container{
        padding: 0 15px;
    }
    .blog__container--bottom__right--header__list--item{
        padding: 10px;
    }
    
 }