/* ==============================================
    Name: checkout tour page css
    Creact by: Dang Phuong Tay
    Creact at: 6/2/2024
    Update at: 6/2/2024
============================================== */

.checkouttour{
    position: relative;
    margin-top: 45px;
    padding-bottom: 30px;
    width: 100%;
    background: var(--color-background-12);
}
.checkouttour::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background: var(--color-background-6);
    top: 0;
    height: 120px;
}
.checkouttour__header{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-background-6);
    height: 120px;
}
.checkouttour__header span ion-icon{
    font-size: var(--size-text-7);
}
.checkouttour__header span{
    display: flex;
    align-items: center;
}

.checkouttour__header span:nth-child(1) ion-icon{
    color: var(--color-text-4);
}
.checkouttour__header span:nth-child(5),
.checkouttour__header span:nth-child(3),
.checkouttour__header span:nth-child(1){
    position: relative;
}
.checkouttour__header span:nth-child(1)::before{
    content: 'Chọn đơn hàng';
    position: absolute;
    width: 500%;
    left: 50%;
    top: 165%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.checkouttour__header span:nth-child(3)::before{
    content: 'Điền thông tin';
    position: absolute;
    width: 500%;
    left: 50%;
    top: 165%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.checkouttour__header span:nth-child(5)::before{
    content: 'Thanh toán';
    position: absolute;
    width: 500%;
    left: 50%;
    top: 165%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: var(--color-text-2);
}
.checkouttour__header span:nth-child(3) ion-icon{
    color: var(--color-text-5);
}
.checkouttour__header span:nth-child(5) ion-icon{
    color: var(--color-text-2);
    opacity: .5;
}
.checkouttour__header::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 25%;
    width: 37%;
    transform: translate(-36%,-50%);
    height: 1.5px;
    background-color: var(--color-background-4);
}
.checkouttour__header::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 25%;
    width: 37%;
    transform: translate(36%,-50%);
    height: 1.5px;
    background-color: var(--color-background-2);
    opacity: .5;
}
.checkouttour__container{
    width: 100%;
    max-width: 1160px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background: var(--color-background-12);
    margin: 0 auto;
    margin-top: 30px;
}
.checkouttour__container--right__top,
.checkouttour__container--right__bottom{
    background: var(--color-background-6);
    border-radius: var(--border-radius-size-4);
    padding: 20px;
}
.checkouttour__container--left{
    width: 65%;
    padding: 20px 0;
    background: var(--color-background-6);
    border-radius: var(--border-radius-size-4);
}
.checkouttour__container--right{
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkouttour__container--left__header p{
    font-size: var(--size-text-6);
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 20px;
    color: var(--color-text-7);
    border-bottom: 2px solid var(--color-text-12);
}
.checkouttour__container--left__contact,
.checkouttour__container--left__voucher,
.checkouttour__container--left__info{
    padding: 20px;
}
.checkouttour__header--info::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background: var(--color-background-7);
}

.checkouttour__header--info{
    position: relative;
    font-size: var(--size-text-6);
    font-weight: 500;
    margin-bottom: 20px;
}
.checkouttour__container--left__info--box{
    padding: 20px;
    border-radius: var(--border-radius-size-3);
    border: 1px solid var(--color-text-12);
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.checkouttour__container--left__info--box img{
    height: 88px;
    width: 88px;
    border-radius: var(--border-radius-size-3);
}
.checkouttour__container--left__info--box__text span{
    display: -webkit-box;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.checkouttour__container--left__info--box__text p{
    font-size: var(--size-text-5);
    display: -webkit-box;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
}
.checkouttour__container--left__info--add{
    padding: 20px 0;
}
.checkouttour__container--left__info--note__title p,
.checkouttour__container--left__info--add p{
    font-size: var(--size-text-5);
    font-weight: 600;
    padding-bottom: 10px;
}
.checkouttour__container--left__info--add button{
    font-size: var(--size-text-5);
    outline: none;
    font-weight: 600;
    padding: 5px 17px;
    color: var(--color-text-7);
    border-radius: var(--border-radius-size-1);
    border: 1px solid var(--color-text-7);
    background: var(--color-background-6);
}
.checkouttour__container--left__info--box.contact__checkout a{
    font-size: var(--size-text-4);
}
.checkouttour__container--left__info--box.contact__checkout{
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkouttour__container--left__info--box__contact{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.checkouttour__container--left__info--box__contact p{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.checkouttour__container--left__info--box__contact p span{
    width: 40%;
}
.checkouttour__container--left__info--note textarea{
    width: 100%;
    background: var(--color-background-6);
    outline: none;
    border: 1px solid var(--color-text-12);
    padding: 10px;
    border-radius: var(--border-radius-size-3);
}
.checkouttour__container--left__info--note__title{
    padding: 10px 0;
}
.checkouttour__container--left__info--note__title span{
    font-size: var(--size-text-4);
}
.checkouttour__container--left__info--form{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 0;
}
.checkouttour__container--left__info--form__left,
.checkouttour__container--left__info--form__right{
    width: 50%;
}
.checkouttour__container--left__info--form__item p{
    font-weight: 500;
}
.checkouttour__container--left__info--form__item{
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.checkouttour__container--left__info--form__item select,input{
    /* width: 100%; */
    padding: 7px 15px;
    outline: none;
    border: 1px solid var(--color-text-12);
    border-radius: var(--border-radius-size-1);
    font-size: var(--size-text-5);
}
.checkouttour__container--left__contact--form{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border: 1px solid var(--color-text-12);
    border-radius: var(--border-radius-size-1);
    margin-top: 10px;
}
.checkouttour__container--left__contact--form .checkouttour__container--left__contact--item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkouttour__container--left__contact--form .checkouttour__container--left__contact--item p{
    width: 30%;
    font-size: var(--size-text-5);
}
.checkouttour__container--left__contact--form .checkouttour__container--left__contact--item input{
    width: 70%;
}
.checkouttour__container--left__contact span{
    font-size: var(--size-text-4);
}
.checkouttour__container--left__voucher--box{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.checkouttour__container--left__voucher--box--item span:nth-child(1){
    color: var(--color-text-11);
    width: 200px;
    font-size: var(--size-text-5);
}
.checkouttour__container--left__voucher--box--item{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.checkouttour__container--left__voucher--box--item input{
    font-size: var(--size-text-7);
}
.checkouttour__container--left__last p{
    width: 50%;
    font-size: var(--size-text-4);
    color: var(--color-text-11);
}
.checkouttour__container--left__last{
    padding:0 20px;
    width: 100%s;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.checkouttour__container--right__bottom,
.checkouttour__container--right__top{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.checkouttour__container--right__top p:nth-child(1){
    display: -webkit-box;
    font-weight: 600;
    font-size: var(--size-text-5);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.checkouttour__container--right__top p:nth-child(4),
.checkouttour__container--right__top p:nth-child(2){
    display: -webkit-box;
    font-size: var(--size-text-5);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-text-12);
}
.checkouttour__container--right__bottom p:nth-child(2) span:nth-child(2){
    font-weight: 700;
    font-size: var(--size-text-6);
    color: var(--color-text-7);
}
.checkouttour__container--right__bottom p:nth-child(1) span:nth-child(2),
.checkouttour__container--right__top p:nth-child(5) span:nth-child(2){
    font-weight: 600;
}
.checkouttour__container--right__bottom p:nth-child(1),p:nth-child(2){
    font-size: var(--size-text-5);
    
}
.checkouttour__container--right__top p:nth-child(3),
.checkouttour__container--right__top p:nth-child(4),
.checkouttour__container--right__top p:nth-child(5),
.checkouttour__container--right__bottom p:nth-child(1),
.checkouttour__container--right__bottom p:nth-child(2){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkouttour__container--add{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    background: var(--color-background-6);
    z-index: 1112;
    display: none;
}
.checkouttour__container--add__last,
.checkouttour__container--add--header{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-text-12);
}
.checkouttour__container--add__last{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    justify-content: end;
    border-top: 1px solid var(--color-text-12); 
    gap: 15px;
    
}
.checkouttour__container--add--header ion-icon{
    font-size: var(--size-text-7);
    cursor: pointer;
}
.checkouttour__container--add--header span{
    font-size: var(--size-text-5);
    font-weight: 600;
}
.checkouttour__container--add__form{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px;
    gap: 10px;
}
.checkouttour__container--add__form--item{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}
.checkouttour__container--add__form--item span{
    font-size: var(--size-text-4);
    color: var(--color-text-2);
}
.checkouttour__container--add__form--item input{
    width: 100%;
    font-size: var(--size-text-4);
}
.checkouttour__container--add__form-right,
.checkouttour__container--add__form-left{
    width: calc(50% - 5px);
}
.checkouttour__container--add__last button{
    outline: none;
    width: 100px;
    border-radius: var(--border-radius-size-1);
    padding: 10px;
}
.checkouttour.final .checkouttour__header span:nth-child(3) ion-icon{
    color: var(--color-text-4);
}
.checkouttour.final .checkouttour__header span:nth-child(5) ion-icon{
    color: var(--color-text-5);
    opacity: 1;
}
.checkouttour.final .checkouttour__header::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 25%;
    width: 37%;
    transform: translate(36%,-50%);
    height: 1.5px;
    background-color: var(--color-background-4);
    opacity: 1;
}
.checkouttour.final .checkouttour__header span:nth-child(5)::before{
    color: var(--color-text-1);
}
.checkouttour__container--final{
    padding: 20px;
}
.checkouttour__container--final li{
    gap: 10px;
    display: flex;
    align-items: start;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-text-3);
}
.checkouttour__container--final__context{
    display: flex;
    width: 100%;
    gap: 5px;
}
.checkouttour__container--final__context--text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}
.checkouttour__container--final__context img{
    height: 30px;
}
.checkouttour__container--final__context p{
    font-weight: 500;
}
.checkouttour__container--final__context span{
    font-size: var(--size-text-4);
    color: var(--color-text-2);
}
.cart__container--top__left--all__left--check {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
  }
  
  /* Hide the browser's default checkbox */
  .cart__container--top__left--all__left--check input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: var(--border-radius-size-1);
    border: 2px solid var(--color-background-3);
  }
  
  /* On mouse-over, add a grey background color */
  .cart__container--top__left--all__left--check:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .cart__container--top__left--all__left--check input:checked ~ .checkmark {
    background-color: var(--color-background-7);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .cart__container--top__left--all__left--check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .cart__container--top__left--all__left--check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.checkouttour__container--final__creadit{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-background-3);
    padding: 10px;
    border-radius: var(--border-radius-size-2);
}
.checkouttour__container--final__creadit label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkouttour__container--left__last--btn a{
    color: var(--color-text-6) !important;
}
body.CheckoutForm .checkouttour__container--add{
    display: block;
}
body.CheckoutForm .header__background--blur__fullview{
    display: block;
}
body.CheckoutForm{
    overflow: hidden;
}
@media only screen and (max-width: 560px) {
    .checkouttour__container--add{
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        height: 100vh;
    }
    .checkouttour__container--add__form-right,
    .checkouttour__container--add__form-left{
        width: 100%;
    }
    .checkouttour__container--add__form{
        padding:10px 20px;
    }
    .checkouttour__container--add__form--item span{
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .checkouttour__container{
        padding: 0 30px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 1111px) {
    .checkouttour__container{
        flex-wrap:  wrap;
        gap: 20px;
    }
    .checkouttour__container--right__top,
    .checkouttour__container--right__bottom{
        background: var(--color-background-6);
        border-radius: var(--border-radius-size-4);
        padding: 20px;
    }
    .checkouttour__container--left{
        width: 100%;
    }
    .checkouttour__container--right{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .checkouttour.final .checkouttour__header::before,
    .checkouttour__header::before{
        width: 35%;
    }
    .checkouttour.final .checkouttour__header::after,
    .checkouttour__header::after{
        width: 35%;
    }
    .checkouttour__header{
        height: 100px;
    }
    .checkouttour__container--left__info--form{
        gap: 20px;
    }
}

@media only screen and (max-width: 850px) {
    .checkouttour__container--left__info--form{
        flex-wrap: wrap;
    }
    .checkouttour__header{
        height: 100px;
    }
    .checkouttour__container{
        padding: 20px;
    }
    .checkouttour__header span:nth-child(1)::before,
    .checkouttour__header span:nth-child(3)::before,
    .checkouttour__header span:nth-child(5)::before{
        font-size: var(--size-text-3);
    }
    .checkouttour.final .checkouttour__header::before,
    .checkouttour__header::before{
        width: 33%;
    }
    .checkouttour.final .checkouttour__header::after,
    .checkouttour__header::after{
        width: 33%;
    }
    .checkouttour__container--left__info--form__left,
    .checkouttour__container--left__info--form__right{
        width: 100%;
    }
    .checkouttour__header--info{
        font-size: var(--size-text-5);
        margin-bottom: 15px;
    }
    .checkouttour__container--left__header p{
        font-size: var(--size-text-5);
}}
@media only screen and (max-width: 450px) {
    .checkouttour__container--left__info--form{
    
        gap: 10px;
    }
    .checkouttour__container--left__contact--form .checkouttour__container--left__contact--item{
        gap: 10px;
    }
    .checkouttour__container--left__contact--form .checkouttour__container--left__contact--item p{
      display: none;
    }
    .checkouttour__container--left__contact--form .checkouttour__container--left__contact--item input{
        width:100%;
    }
    .checkouttour__container--left__contact--form{
        padding: 10px;
    }
    .checkouttour.final .checkouttour__header::before,
    .checkouttour__header::before{
        width: 30%;
        transform: translate(-30%,-50%);
    }
    .checkouttour.final .checkouttour__header::after,
    .checkouttour__header::after{
        width: 30%;
        transform: translate(30%,-50%);
    }
    .checkouttour__container--left__info--box.contact__checkout a{
        display: none;
    }
    .checkouttour__container--left__last{
        position: fixed;
        bottom: 0px;
        left: 0;
        display: flex;
        align-items: center;
        background: var(--color-background-6);
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        z-index: 666;
    }
    .checkouttour__header{
        padding: 10px;
    }
    .checkouttour__container{
        padding: 5px;
        margin-top: 25px;
    }
    .checkouttour__container--left__info--box{
        width: 100%;
        padding: 10px;
        gap: 10px;
        flex-wrap: wrap;
    }
    .checkouttour__container--left__info--box img{
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: var(--border-radius-size-3);
    }
    .checkouttour__container--final{
        padding: 10px;
    }
    .checkouttour__container--final li{
        gap: 5px;
    }
    .checkouttour__container--final__creadit label{
        font-size: var(--size-text-4);
    }
    .checkouttour__container--final__context img{
        display: none;
    }
}