.detail__tour{
    width: 100%;
    margin-top: 61px;
}
.detail__tour--container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.detail__tour--header__link{
    padding: 5px 0;
}
.detail__tour--header__title{
    font-size: var(--size-text-9);
    padding: 5px 0;
    font-weight: 700;
    letter-spacing: 1px;
}
.detail__tour--header__info{
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: var(--color-text-11);
}
.detail__tour--header__info ion-icon{
    padding-right: 10px;
}
.detail__tour--header{
    padding-bottom: 30px;
}
.detail__tour--img{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 5px;
    width: 100%;
    height: 60vh;
    border-radius: var(--border-radius-size-5);
    overflow: hidden;
    margin-bottom: 40px;
}
.detail__tour--img__left{
    width: 70%;
    height: 100%;
}
.detail__tour--img__right{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail__tour--img__right img{
    height: 50%;

}
.detail__tour--img__left img{
    height: 100%;
}
.detail__tour--img__right img,
.detail__tour--img__left img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.detail__tour--content{
    display: flex;
    gap: 20px;
    align-items: start;
}
.detail__tour--content__left{
    width: 70%;
}
.detail__tour--content__left--header::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 6px;
    transform: translateY(-50%);
    height: 90%;
    background: var(--color-background-7);
    border-radius: 10px;
}
.detail__tour--content__left--header{
    position: relative;
    font-size: var(--size-text-6);
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detail__tour--content__left--header a{
    font-size: var(--size-text-4);
    font-weight: 500;
    text-decoration: underline !important;
}
.detail__tour--content__right{
    position: sticky;
    top: 71px;
    width: 30%;
    padding: 10px 20px;
    border: 1px solid var(--color-text-3);
    border-radius: var(--border-radius-size-3);
    background: var(--color-background-6);
}
.detail__tour--content__right p{
    padding-bottom: 15px;
    font-size: var(--size-text-6);
    font-weight: 500;
}
.detail__tour--content__right button{
    width: 100%;
}
.detail__tour--content__left--option{
    padding:0 15px 30px 15px;
}
.detail__tour--content__left--option__title--1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.detail__tour--content__left--option__title--1 p,a{
    font-size: var(--size-text-5);
    font-weight: 500;
}
.detail__tour--content__left--option__title--1 a{
    text-decoration: underline !important;
    font-size: var(--size-text-4);
}
.detail__tour--content__left--option__title--2{
    padding: 5px 5px 15px 5px;
    color: var(--color-text-2);
    font-size: var(--size-text-3);
}
.detail__tour--content__left--option__date:hover{
    background: var(--color-background-17);
}
.detail__tour--content__left--option__date{
    margin: 5px;
    padding: 8px 25px;
    border-radius: var(--border-radius-size-3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:7px;
    background: var(--color-background-7);
    color: var(--color-text-6);
    margin-bottom: 15px;
}
.detail__tour--content__left--option__item{
    border: 1px solid var(--color-text-1);
    width: 70%;
    padding:6px 25px;
    border-radius: var(--border-radius-size-2);
    font-weight: 500;
    cursor: pointer;
    font-size: var(--size-text-5);
}
.detail__tour--content__left--option__item:hover{
    background: var(--color-background-12);
}
.detail__tour--content__left--option__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.detail__tour--content__left--sale{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 15px 15px 30px 15px;
    border: 1px solid var(--color-text-2);
    border-radius: var(--border-radius-size-4);
    padding: 15px 25px ;
}
.detail__tour--content__left--sale__left{
    width: 70%;
}
.detail__tour--content__left--sale__right{
    width: 25%;
}
.detail__tour--content__left--sale__right img{
    width: 100%;
}
.detail__tour--content__left--sale__header{
    border: 1px solid var(--color-background-7);
    padding: 4px 10px;
    border-radius: var(--border-radius-size-1);
    font-size: var(--size-text-3);
    font-weight: 500;
    color: var(--color-text-7);
}
.detail__tour--content__left--sale__left{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}
.detail__tour--content__left--sale__title span{
    font-size: var(--size-text-4);
}
.detail__tour--content__left--sale__title p{
    font-size: var(--size-text-6);
    padding-bottom: 3px;
}
.detail__tour--content__left--sale__title{
    font-weight: 600;
}
.detail__tour--content__left--sale__price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.detail__tour--content__left--sale__price p{
    font-weight: 600;
}
.detail__tour--content__left--sale__price span{
    text-decoration: line-through;
    color: var(--color-text-2);
    font-size: var(--size-text-3);
}
.detail__tour--content__left--sale__right img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-size-2);
    object-fit: cover;
}
.detail__tour--content__left--sale__right{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.detail__tour--content__left--sale__right a ion-icon{
    font-size: var(--size-text-5);
    padding-left: 2px;
}
.detail__tour--content__left--sale__right a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-text-3);
    text-decoration: underline !important;
}
.detail__tour--content__left--service,
.detail__tour--content__left--rate__first{
    padding: 10px 25px 30px 25px;
}
.detail__tour--content__left--rate__first--title{
    display: flex;
    align-items: end;
    gap: 10px;
}
.detail__tour--content__left--rate__first--title p{
    font-size: var(--size-text-6);
    font-weight: 500;
}
.detail__tour--content__left--rate__first--title__liststar ion-icon{
    font-size: var(--size-text-6);
    color: var(--color-text-5);
}
.detail__tour--content__left--rate__first--list {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.detail__tour--content__left--rate__first--item{
    width: 50%;
    border: 1px solid var(--color-text-3);
    border-radius: var(--border-radius-size-2);
    padding: 10px;
}
.detail__tour--content__left--rate__first--item__imgs{
    width: 100%;
    display: flex;
    gap: 3.5%;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}
.detail__tour--content__left--rate__first--item__imgs img{
    width: 22%;
    height: 70px;
    border-radius: var(--border-radius-size-1);
}
.detail__tour--content__left--rate__first--item__info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    color: var(--color-text-1);
}
.detail__tour--content__left--rate__first--item__info p{
    font-weight:500;
    font-size: var(--size-text-4);
}
.detail__tour--content__left--rate__first--item__info span{
    font-size: var(--size-text-4);
    color: var(--color-text-2);
}
.detail__tour--content__left--rate__first--item__des{
    font-size: var(--size-text-5);
    color: var(--color-text-11);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
    margin-bottom: 10px;
}
.detail__tour--content__left--service--text{
    padding: 10px 0;
}
.detail__tour--content__left--service--img,
.detail__tour--content__left--service--img img{
    height: 70vh;
    object-fit: cover;
    width: 100%;
    border-radius: var(--border-radius-size-3);
}