/* ==============================================
    Name: Detail car css html
    Creact by: Dang Phuong Tay
    Creact at: 20/2/2024
    Update at: 20/2/2024
============================================== */
.detail__car{
    width: 100%;
    margin-top: 61px;
}
.detail__car--container{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 30px 0;
}
.detail__car--container__header::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background: var(--color-background-7);
    
}
.detail__car--container__header{
    position: relative;
    font-size: var(--size-text-6);
    font-weight: 500;
    margin-bottom: 20px;
}
.detail__car--container__list{
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    /* overflow-x: auto;
    scroll-snap-type: x mandatory; */
}
.detail__car--container__item{
    padding: 20px;
    border-radius: var(--border-radius-size-5);
    border: 1px solid var(--color-text-3);
    /* scroll-snap-align: start;
    width: 100%; */
}
.detail__car--container__item--img img{
    width: 100%;
}
.detail__car--container__item--img{
    border-radius: var(--border-radius-size-3);
    overflow: hidden;
    width: 100%;
}
.detail__car--container__item--text__name{

    font-weight: 600;
    font-size: var(--size-text-6);
    color: var(--color-text-1);
}
.detail__car--container__item--text__des{
    color: var(--color-text-2);
}
.detail__car--container__item--text__price{
    color: var(--color-text-7);
    font-size: var(--size-text-5);
    font-weight: 600;
}
.detail__car--container__item--text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail__car--container__item--select a{
    padding: 10px 20px;
    background-color: var(--color-background-7);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-size-3);
    font-size: large;
    color: var(--color-text-6);
}
.detail__car--container__item--select{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1280px) {
    .detail__car--container{
       padding: 10px 30px;
   }
   .detail__car--container__header{
       margin-left: 20px;
   }
}
@media only screen and (max-width: 1111px) {

}
@media only screen and (max-width: 590px) {
    .detail__car--container{
        padding: 10px 10px;
    }
    .detail__car--container__header{
        margin-left: 20px;
    }
    .detail__car--container__list{
        /* padding: 20px 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 20px; */
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-bottom: 20px;
    }
    .detail__car--container__item{
        width: 500px;
        padding: 10px;
        box-shadow: none;
        scroll-snap-align: start;
        border-radius: var(--border-radius-size-4);
    }
    .detail__car--container__item--img{
       width: 300px;
    }
    .detail__car--container__item--text{
        gap: 2px;
    }
    .detail__car--container__item--select{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    .detail__car--container__header{
        font-size: var(--size-text-5);
        margin-bottom: 0px;
    }
    .detail__car--container__item--text__name{
        font-size: var(--size-text-5);
    }
    .detail__car--container__item--text__des{
        font-size: var(--size-text-4);
    }

}
@media only screen and (max-width: 450px) {

}