#more {
    display: none;
}
.detailHotel {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}
.detailHotel__banner{
    margin: 0 auto;
    margin-top: 140px;
    max-width: 1160px;
    width: 100%;
}
.detailHotel__top--link {
    display: flex;
    align-items: center;
    color: var(--color-text-19);
    margin: 12px 0 24px;
}

.detailHotel__top--link a {
    color: var(--color-text-19) !important;
    font-size: var(--size-text-4);
}

.detailHotel__img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    border-radius: var(--border-radius-size-4);
    cursor: pointer;
}

.detailHotel__img img ,
.detailHotel__list--body__list--wrap__item--left__img--main img {
    object-fit: cover;
    width: 100%;
}

.detailHotel__img--left img {
    width: 100%;
}

.detailHotel__img--left {
    flex: 50%;
}

.detailHotel__img--right {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 5px;
    flex: 50%;

}

.detailHotel__img--right img {
    width: calc(50% - 5px);
    height: 50%;
}

.detailHotel__info {
    padding-top: 15px;
}

.detailHotel__info--wapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.detailHotel__info--wapper__left {}

.detailHotel__info--wapper__left h1 {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1.32;
    font-weight: 500;
}

.detailHotel__info--wapper__left ion-icon {
    color: var(--color-background-5);
    margin-right: 4px;
    font-size: var(--size-text-6);
}

.detailHotel__info--wapper__right {
    text-align: right;

}

.detailHotel__info--wapper__right--name {
    margin-bottom: 10px;
}

.detailHotel__info--wapper__right--1 {
    text-decoration: underline;
    margin-right: 10px;
    font-size: var(--size-text-6);
    font-weight: 600;
}

.detailHotel__info--wapper__right--price {
    font-size: var(--size-text-8);
    margin-right: 10px;
}

.detailHotel__info--wapper__right--unit,
.detailHotel__info--wapper__right--tip {
    color: var(--color-text-11);
    font-weight: 100;
    margin-bottom: 25px !important;
    font-size: var(--size-text-4);
}

.detailHotel__info--wapper__btn {
    padding: 12px 60px;
    color: var(--color-text-6) !important;
}

.detailHotel__info--summary {
    display: flex;
    align-items: center;
    min-height: 140px;
    min-width: 0;
    margin-bottom: 10px;
}

.detailHotel__info--summary__left,
.detailHotel__info--summary__right,
.detailHotelMobile__info--summary {
    border: 1px solid var(--color-background-3);
    padding: 20px;
    border-radius: 16px;
    cursor: pointer;
}

.detailHotel__info--summary__left {
    margin-right: 8px;
    flex: 50%;
    max-width: 50%;
}

.detailHotel__info--summary__left--top {
    display: flex;
}

.detailHotel__info--summary__left--top__rating span:first-child,
.detailHotel__list--body__reviews--content__overview--info__score span:first-child {
    font-size: 44px;
    line-height: 1.32;
    font-weight: 600;
}

.detailHotel__info--summary__left--top__score {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 8px;
}

.detailHotel__info--summary__left--top__score span:first-child {
    font-size: var(--size-text-4);
    font-weight: 600;
}

.detailHotel__info--summary__left--top__rating span:last-child,
.detailHotel__info--summary__left--top__score span:last-child,
.detailHotel__list--body__reviews--content__overview--info__score span:last-child {
    color: var(--color-text-11);
    font-size: var(--size-text-4);
}

.detailHotel__info--summary__left--top__score span:last-child {
    text-decoration: underline;
    font-size: var(--size-text-3);
}

.detailHotel__info--summary__left--bot {
    display: flex;
    align-items: center;
}

.detailHotel__info--summary__left--bot img,
.detailHotel__list--body__reviews--content__item--content__header--user img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.detailHotel__info--summary__left--bot__decs {
    font-size: var(--size-text-4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
}

.detailHotel__info--summary__left--bot__decs--content {
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailHotel__info--summary__right {
    background: url(http://res.klook.com/image/upload/v1665484839/ghk4nfq2pqivll4zzmv1.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: 100%;
    cursor: pointer;
    flex: 50%;
    min-height: 140px;
}

.detailHotel__info--summary__right--address span {
    font-size: var(--size-text-5);
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 8px;
}

.detailHotel__info--summary__right--location {
    display: flex;
}

.detailHotel__info--summary__right--location ion-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.detailHotel__info--summary__right--location p {
    font-size: var(--size-text-4);
    font-weight: 300;
}

.detailHotel__info--summary__right--map {
    display: flex;
    align-items: center;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 600;
    text-decoration: underline;
}

.detailHotel__info--summary__right--map span {
    margin-right: 8px;
}

.detailHotel__info--summary__right--map ion-icon {
    color: var(--color-background-7);
}

.detailHotel__list--header {
    padding: 60px 0 32px;
}

.header__list--header__title h2 {
    font-size: var(--size-text-7);
    line-height: 1.32;
    position: relative;
    left: 20px;
}

.header__list--header__title h2::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    width: 6px;
    height: 24px;
    background-color: var(--color-background-7);
    border-radius: 6px;
}

.detailHotel__list--body__desc {
    width: 100%;
    margin-top: -12px;
    padding-bottom: 32px;
    color: var(--color-text-2);
    font-size: var(--size-text-5);
    line-height: 1.5;
    font-weight: 400;
}

.detailHotel__list--body__fitter {
    font-size: var(--size-text-5);
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 15px !important;
}

.detailHotel__list--body__checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

}

.detailHotel__list--body__checkbox--group {
    position: relative;
    margin: 0 16px 12px 0;
    padding: 11px 15px;
    border: 1px solid var(--color-background-16);
    border-radius: 12px;
}

.detailHotel__list--body__checkbox--lable {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
}

.detailHotel__list--body__checkbox--lable ion-icon {
    color: var(--color-text-7);
    margin-right: 2px;
}

.detailHotel__list--body__checkbox--group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.detailHotel__list--body__checkbox--group label:before {
    content: '';
    background-color: transparent;
    border: 1px solid var(--color-background-11);
    padding: 8px;
    display: inline-block;
    border-radius: var(--border-radius-size-0);
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
}

.detailHotel__list--body__checkbox--group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 14px;
    border: solid var(--color-background-7);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.detailHotel__list--body__select {
    display: flex;
    align-items: center;
}

.detail__list--body__select--rom--container {
    border-radius: var(--border-radius-size-1);
    margin-right: 20px;
    border: 1px solid var(--color-background-3);
}

.detail__list--body__select--rom--container:hover {
    border: 1px solid var(--color-background-0);
    background-color: var(--color-background-6);
}

.detail__list--body__select--rom--container span {
    font-weight: 600;
    font-size: var(--size-text-5);
}

.detail__list--body--select__tip {
    color: var(--color-text-2);
    font-size: var(--size-text-4);
    font-weight: 400;
    margin-left: 15px;
}

.detail__list--body--select__tip b {
    font-weight: 600;
    color: var(--color-text-0);
}


.detailHotel__list--body__list--wrap{
    background-color: var(--color-background-12);
    margin-top: 20px;
    padding: 20px;
}
.detailHotel__list--body__list--wrap__name{
    font-size: var(--size-text-6);
    line-height: 1.32;
    font-weight: 600;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.detailHotel__list--body__list--wrap__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.detailHotel__list--body__list--wrap__item--left{
    flex: 30%;
    padding: 0 10px;
}
.detailHotel__list--body__list--wrap__item--left__img{
    position: relative;
    cursor: pointer;
}

.detailHotel__list--body__list--wrap__item--left__img--main{
    display: flex;
    flex-wrap: wrap;
}
.detailHotel__list--body__list--wrap__item--left__img--main img {
    border-radius: var(--border-radius-size-2);
}
.detailHotel__list--body__list--wrap__item--left__img--main__2,
.detailHotel__list--body__list--wrap__item--left__img--main__3{
    width: 48%;
    margin-top: 5px;
    margin-right: 5px;
}
.detailHotel__list--body__list--wrap__item--left__img--count{
    position: absolute;
    padding: 4px 8px;
    border-radius: 12px 0 8px 0;
    background-color: rgba(0,0,0,.6);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: #f5f5f5;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.detailHotel__list--body__list--wrap__item--left__popular{
    margin-top: 12px;
}
.detailHotel__list--body__list--wrap__item--left__popular--platform{
    display: flex;
    align-items: center;
    font-size: var(--size-text-4);
    line-height: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detailHotel__list--body__list--wrap__item--left__popular--platform ion-icon{
    margin-right: 8px;
}
.detailHotel__list--body__list--wrap__item--left__facility{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.detailHotel__list--body__list--wrap__item--left__facility--platform{
    display: flex;
    align-items: center;
    width: calc(50% - 4px);
    margin-right: 4px;
    margin-bottom: 6px;
    font-size: var(--size-text-4);
}
.detailHotel__list--body__list--wrap__item--left__facility--platform ion-icon{
    margin-right: 5px;
}
.detailHotel__list--body__list--wrap__item--left__poptip{
    margin-top: 10px;
    width: 150px;
}
.detailHotel__list--body__list--wrap__item--left__poptip p{

    font-size: var(--size-text-5);
    line-height: 1.5;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px dashed;
}
.detailHotel__list--body__list--wrap__item--right{
    width: calc(100% - 316px);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    background-color: var(--color-background-6);
}
.detailHotel__list--body__list--wrap__item--right__header{
    display: flex;
    justify-content: space-between;
    color: var(--color-text-2);

}
.detailHotel__list--body__list--wrap__item--right__header div{
    padding: 12px 20px;
    font-size: var(--size-text-4);
    line-height: 1.5;
    font-weight: 600;

}
.detailHotel__list--body__list--wrap__item--right__body{
    cursor: pointer;
}
.detailHotel__list--body__list--wrap__item--right__header div:first-child,
.detailHotel__list--body__list--wrap__item--right__body--info__left{
    border-right: 1px solid var(--color-text-3);
    flex: 1;
}
.detailHotel__list--body__list--wrap__item--right__header div:last-child,
.detailHotel__list--body__list--wrap__item--right__body--info__right{
   width: 256px;
}
.detailHotel__list--body__list--wrap__item--right__body--info{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-text-3);

}
.detailHotel__list--body__list--wrap__item--right__body--info__left{
    padding: 16px 16px 48px 20px;
}
.detailHotel__list--body__list--wrap__item--right__body--info__left--name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    font-size: var(--size-text-5);
    line-height: 1.5;
    font-weight: 600;
}
.detailHotel__list--body__list--wrap__item--right__body--info__left--rate__card{
    display: flex;
    align-items: center;
}
.detailHotel__list--body__list--wrap__item--right__body--info__left--rate__card ion-icon{
    margin-right: 5px;
}
.detailHotel__list--body__list--wrap__item--right__body--info__right{
    align-self: flex-end;
    padding: 40px 20px 20px 0;
}

.detailHotel__list--body__list--wrap__item--right__body--info__right--price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    margin-left: 16px;
    cursor: pointer;
}

.detailHotel__list--body__list--wrap__item--right__body--info__right--price__part--desc{
    display: inline-block;
    font-size: var(--size-text-6);
    line-height: 1.32;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 1px dashed;

}

.detailHotel__list--body__list--wrap__item--right__body--info__right--price__part--tip{

    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text-11);
}
.detailHotel__list--body__list--wrap__item--right__body--info__right--price__part{
    padding-top: 12px;
    text-align: right;
}
.detailHotel__list--body__list--wrap__item--right__body--info__right--price a{
    color: var(--color-text-6) !important;
}
.detailHotel__list--body__list--wrap__item--right__body--info__right--tip{
    text-align: right;
    font-size: var(--size-text-3);
    line-height: 1.5;
    font-weight: 400;
    
}
.detailHotel__list--body__list--wrap__item--right__body--info__right--price div:last-child,
.detailHotel__list--body__list--wrap__item--right__body--info__right--tip{
    margin-top: 12px;
}


/* ==============================================
    Name: hotelDetail review
    Creact by: Tien Dat
    Creact at: 5/2/2024
============================================== */

.detailHotel__list--body__reviews--content__overview a{
    float: right;
    font-size: var(--size-text-4);
    color: var(--color-text-19) !important;
    cursor: pointer;
}
.detailHotel__list--body__reviews--content__overview--info,
.detailHotel__list--body__reviews--content__overview--info__fomart{
    display: flex;
    align-items: center;
}
.detailHotel__list--body__reviews--content__overview--info__fomart{
    margin-left: 15px;
}
.detailHotel__list--body__reviews--content__overview--info__fomart p{
    font-size: var(--size-text-5);
    font-weight: 600;
    margin-right: 8px !important;
}
.detailHotel__list--body__reviews--content__overview--info__fomart span,
.detailHotel__list--body__reviews--content__overview--category__item {
    color: var(--color-text-2);
    font-weight: 400;
}
.detailHotel__list--body__reviews--content__overview--category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}
.detailHotel__list--body__reviews--content__overview--category__item--progress{
    display: flex;
    position: relative;
}
.detailHotel__list--body__reviews--content__overview--category__item--progress__content{
    position: relative;
    display: flex;
    top: 10px;
    width: 230px;
    height: 8px;
    flex: 1;
}
.detailHotel__list--body__reviews--content__overview--category__item--progress__content--runway{
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--color-background-3);
}
.detailHotel__list--body__reviews--content__overview--category__item--progress__content--progress{
    border-radius: 6px;
    position: absolute;
    width: 80%;
    height: 8px;
    background-color: var(--color-background-5);
}
.detailHotel__list--body__reviews--content__overview--category__item--progress__end{
    margin-left: 8px;
}
.detailHotel__list--body__reviews--content__swiper--item{
    display: flex;
}
.detailHotel__list--body__reviews--content__swiper--items{
    min-width: 32px;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 14px;
    border: 1px solid var(--color-background-16);
    margin-right: 12px;
    border-radius: 28px;
}
.detailHotel__list--body__reviews--content__item{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid var(--color-background-16);
    margin-top: 20px;
    padding: 12px;
    padding: 12px 20px 16px;
}
.detailHotel__list--body__reviews--content__item--content__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detailHotel__list--body__reviews--content__item--content__header--review{
    color: var(--color-background-2);
    font-size: var(--size-text-3);
    margin-left: 16px;
}
.detailHotel__list--body__reviews--content__item--content__score{
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: var(--size-text-4);
}

.detailHotel__list--body__reviews--content__item--content__score--max span:first-child{
    color: var(--color-text-17);
}
.detailHotel__list--body__reviews--content__item--content__score--max span:last-child{
    color: var(--color-text-2);
    font-size: var(--size-text-3);
    text-align: end;
    margin-right: 5px !important;
}
.detailHotel__list--body__reviews--content__item--content__text{
    font-size: var(--size-text-4);
    line-height: 20px;
}
.detailHotel__list--body__reviews--content__item--from{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.detailHotel__list--body__reviews--content__item--from img{
    height: 16px;
    margin-right: 4px;
}
.detailHotel__list--body__reviews--content__item--from{
    color: var(--color-text-2);
    font-size: var(--size-text-3);
}


.detailHotel__list--body__detail--content__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 20px 8px;
    border: 1px solid var(--color-background-16);
    border-radius: 12px;
}
.detailHotel__list--body__detail--content__item--wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 106px);
    margin-bottom: 16px;
    font-size: var(--size-text-4);
    color: var(--color-text-1);
}
.detailHotel__list--body__detail--content__footer,
.detailHotel__list--body__policies--footer{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 44px;
}
.detailHotel__list--body__detail--content__footer span,
.detailHotel__list--body__policies--footer span{
    font-size: var(--size-text-4);
    text-decoration: underline;
    cursor: pointer;
}


.detailHotel__list--body__facility--content div:first-child{
    margin-bottom: 24px;
}
.detailHotel__list--body__facility--content__item--content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 1 0;
    padding-bottom: 8px;
}
.boder__bottom{
    border-bottom: 1px solid var(--color-background-16);
}
.detailHotel__list--body__facility--content__item,
.detailHotel__list--body__policies--content__check,
.detailHotel__list--body__policies--content__fee,
.detailHotel__list--body__policies--content__dining{
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}
.detailHotel__list--body__facility--content__item--title,
.detailHotel__list--body__policies--content__check--title,
.detailHotel__list--body__policies--content__fee--title,
.detailHotel__list--body__policies--content__dining--title{
    flex: 0 0 200px;
    margin-right: 80px;
    font-size: var(--size-text-5);
    line-height: 1.5;
    font-weight: 600;
}

.detailHotel__list--body__facility--content__item--content--subitem ion-icon{
    font-size: var(--size-text-5);
    margin-right: 8px;
}
.detailHotel__list--body__facility--content__item--content--subitem{
    flex: 0 0 33.33%;
    margin-bottom: 16px;
    padding-right: 32px;
    font-size: var(--size-text-4);
    display: flex;
    align-items: center;
}

.detailHotel__list--body__policies--content__check--content,
.detailHotel__list--body__policies--content__fee--content,
.detailHotel__list--body__policies--content__dining--content
{
    font-size: var(--size-text-4);
    line-height: 2;
}
.detailHotel__list--body__policies--content__check--content,
.detailHotel__list--body__policies--content__fee--content{
    border-bottom: 1px solid var(--color-background-12);
    line-height: 1.5;
    padding-bottom: 24px;
}
.detailHotel__list--body__policies--content__check--content__instruction{
    display: flex;
    align-items: center;
    color: var(--color-text-4);
}
.detailHotel__list--body__policies--content__check--content__desc,
.detailHotel__list--body__policies--content__check--content__instruction{
    margin-bottom: 20px;
}
.detailHotel__list--body__policies--content__check--content__instruction div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.detailHotel__list--body__policies--content__check--content__instruction ion-icon{
    margin-right: 8px;
    font-size: var(--size-text-6);
}

.detailHotel__list--body__description--text{
    font-size: var(--size-text-4);
}

.detailHotel__list--body__link{
    display: flex;
    align-items: center;
    height: 64px;
}
.detailHotel__list--body__link--inner{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    font-size: var(--size-text-5);
}
.detailHotel__list--body__link--inner__divider{
    padding: 0 4px;
    display: flex;
    align-items: center;
}
.detailHotel__list--body__link--inner__item a{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding: 16px 0;
    cursor: pointer;
}
.last__link{
    color: var(--color-text-21) !important;
    cursor: default;
}

/* ==============================================
    Name: rateWrap 
    Creact by: TienDat
    Creact at: 19/2/2024
============================================== */
body.listDetailHotelRate .detailHotel__list--body__reviews--wrap{
    right: 0;
}
body.listDetailHotelRate .detailHotel__backgroup--blur{
    display: block;
}
body.listDetailHotelRate {
    overflow: hidden;
}
.detailHotel__backgroup--blur{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-background-1);
    z-index: 1004;
    opacity: .5;
}
.detailHotel__list--body__reviews--wrap{
    position: fixed;
    top: 0;
    right: -50%;
    background-color: var(--color-background-6);
    z-index: 1004;
    height: 100vh;
    width: 50%;
    transition: all ease-in-out .3s;
}
.detailHotel__list--body__reviews--wrap__icon,
.detailHotel__list--body__list--wrapper__icon{
    line-height: 16px;
    padding: 20px 50px;
    position: relative;
    min-height: 56px;
    text-align: center;
    border-bottom: 1px solid var(--color-background-12);
}
.detailHotel__list--body__reviews--wrap__icon ion-icon,
.detailHotel__list--body__list--wrapper__icon ion-icon{
    font-weight: 600;
    cursor: pointer;
    font-size: var(--size-text-8);
    position: absolute;
    display: flex;
    align-items: center;
}

.detailHotel__list--body__reviews--wrap .detailHotel__list--body__reviews{
    padding: 0 50px;
}
.detailHotel__list--body__reviews--wrap .detailHotel__list--header{
    margin: 32px 0px 24px;
    padding: 0;
}
.detailHotel__list--body__reviews--wrap 
.detailHotel__list--body__reviews--content__overview--category__item--progress__content{
    width: 150px;
}

.detailHotel__list--body__reviews--wrap 
.detailHotel__list--body__reviews--content__overview--category__item--progress{
    margin-right: 10px;
}

/* ==============================================
    Name: roomWrap 
    Creact by: TienDat
    Creact at: 19/2/2024
    Update at: 20/2/2024
============================================== */
body.listDetailHotelPrice .detailHotel__list--body__list--wrapper{
    right: 0;
}
body.listDetailHotelPrice2 .detailHotel__list--body__list--wrapper{
    right: 0;
}
body.listDetailHotelPrice .detailHotel__backgroup--blur{
    display: block;
}
body.listDetailHotelPrice2 .detailHotel__backgroup--blur{
    display: block;
}
body.listDetailHotelPrice,.listDetailHotelPrice3,.listDetailHotelPrice2 {
    overflow: hidden;
}
.detailHotel__list--body__list--wrapper{
    position: fixed;
    top: 0;
    right: -50%;
    width: 40%;
    height: 100vh;
    z-index: 1005;
    background-color: var(--color-background-6);
    transition: all ease-in-out .3s;
}

.detailHotel__list--body__list--wrapper
.detailHotel__list--body__list--wrapper__icon{
    border-bottom: none;
}
.detailHotel__list--body__list--wrapper__container--box nav{
    margin-top: 12px;
    padding: 0 50px;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
    height: 35px;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 100%;
    white-space: nowrap;
}
.detailHotel__list--body__list--wrapper__container--box nav a{
    margin-right: 16px;
    padding: 10px 0;
    font-size: var(--size-text-5);
}

.detailHotel__list--body__list--wrapper__container{
    padding: 24px 50px 30px;
    overflow-y: scroll;
    height: calc(100vh - 190px);
    scroll-behavior: smooth;
}
.detailHotel__list--body__list--wrapper .header__list--header__title{
    padding: 32px 0 16px;
}
.detailHotel__list--body__list--wrappper__img img{
    width: 100%;
    object-fit: cover;
    height: 253px;
    border-radius: var(--border-radius-size-4);
}
.detailHotel__list--body__list--wrappper__img{
    margin-bottom: 15px;
}
.detailHotel__rate--content__list{
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-background-12);
}
.detailHotel__list--body__list--wrapper
.detailHotel__list--body__list--wrap__item--left__facility{
    margin-top: 0;
}
.detailHotel__list--body__list--wrap__item--left__facility--text{
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 8px;
}
.detailHotel__price--item__top{
    display: flex;
    justify-content: space-between;
    line-height: 2;
    font-weight: 600;
}
.detailHotel__price--tip{
    float: right;
}
.detailHotel__price--item__top i,
.detailHotel__price--tip,
.detailHotel__footer--price__info--unit,
.detailHotel__footer--price__info ion-icon {
    font-size: var(--size-text-3);
    color: var(--color-text-2);
}
.detailHotel__policy--section__title{
    font-weight: 600;
    line-height: 2;
}
.detailHotel__policy--section{
    margin-bottom: 12px;
}
.detailHotel__footer--price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-top: 1px solid #eee;
}
.detailHotel__footer--price__info{
    display: flex;
    align-items: center;
    font-size: var(--size-text-6);
}
.detailHotel__footer--price__info--desc,
.detailHotel__footer--price__info--unit{
    margin-right: 3px;
}
.detailHotel__footer--price__info--desc{
    color: var(--color-text-7);
}

/* ==============================================
    Name: slides
    Creact by: TienDat
    Creact at: 22/2/2024
============================================== */
body.listDetailHotelSlides .slide__img--box{
    display: block;
}
body.listDetailHotelSlides .detailHotel__backgroup--blur{
    display: block;
}
body.listDetailHotelSlides {
    overflow: hidden;
}
.detailHotelMobile__slides,
.detailHotelMobile__info--summary,
.detailHotel__list--body__list--wrap__item--left__popular--name,
.detailHotel__list--body__list--wrap__item--left__popular--price,
.detailHotel__list--body__list--wrap__item--left__action,
.detailHotelMobie__footer,
.detailHotelMobile__list--body__service--container,
.detail__list--body__select--rom{
    display: none;
}
.list__wrapper{
    display: none !important;
}
body.listDetailHotelTypeRoom .detail__list--body__select--rom__item{
    display: block;
}
.detail__list--body__select--rom__item{
    position: absolute;
    left: 0;
    display: none;
    background-color: var(--color-background-6);
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 20px 0px;
    border-radius: var(--border-radius-size-4);
    width: 250px;
    z-index: 99;
}
body.MapCarForm .detailHotel__backgroup--blur{
    display: block;
}
body.MapCarForm{
    overflow: hidden;
}
 /* ==============================================
    Name: Table
    Creact by: Tien Dat
    Creact at: 22/2/2024
============================================== */
@media  (max-width: 1170px){
    .detailHotel{
        padding: 0 20px;
    }
    .detailHotel__list--body__reviews--content__overview--category{
       flex-wrap: wrap;
    }    
}

 /* ==============================================
    Name: Mobie
    Creact by: Tien Dat
    Creact at: 22/2/2024
============================================== */
@media  (max-width: 900px){
/* ==============================================
    Name: rateWrap 
    Creact by: TienDat
    Creact at: 19/2/2024
============================================== */
   
    .detailHotel__list--body__list--wrapper,
    .detailHotel__list--body__reviews--wrap{
        width: 70%;
        right: -70%;
    }
}

@media  (max-width: 800px){
    .detailHotel__banner{
        margin-top: 65px;
        height: 0;
        position: relative;
        margin-bottom: -20px;
        width: 100%;
        padding-bottom: 75%;
        overflow: hidden;
    }
    .detailHotel{
        position: relative;
        background: #fff;
        z-index: 1;
        border-radius: 20px;
    }
    .hotel__fitter,.detailHotel__top--link ion-icon,
    .detailHotel__img,.detailHotel__info--wapper__right,
    .detailHotel__info--summary__left,
    .detailHotel__list--body__facility--content__item--title,
    .detailHotel__list--body__policies--footer ion-icon,
    .detailHotel__list--body__list--wrap__item--left__img--main__2,
    .detailHotel__list--body__list--wrap__item--left__img--main__3,
    .detailHotel__list--body__list--wrap__item--left__facility,
    .detailHotel__list--body__list--wrap__item--left__poptip,
    .detailHotel__list--body__list--wrap__name,
    .detailHotel__list--body__list--wrap__item--left__img--count span,
    .detail__list--body--select__tip,
    .detailHotel__list--body__reviews--content__overview--link,
    .detailHotel__list--body__list--wrap__item--right__header,
    .detailHotel__list--body__list--wrap__item--right__body--info__right--tip,
    .detailHotel__list--body__list--wrapper__icon,
    .hotelMobile__fitter{
        display: none !important;
    }
    .detailHotel__top--link{
        justify-content: center;
        margin: 0;
    }
    .detailHotelMobile__slides{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }
    .detailHotelMobile__slides--show{
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .detailHotelMobile__slides--show__item{
        display: flex;
        transition: .5s;
        width: 100%;
        /* overflow-x: auto;
        scroll-snap-type: x mandatory; */
    }
    .detailHotelMobile__slides--show__item img{
        width: 100%;
        object-fit: cover;
        height: 464px;
    }
    .detailHotel__info--wapper__left h1{
        font-size: var(--size-text-6);
        margin-bottom: 0;
    }
    .detailHotel__info--wapper{
        display: block;
        margin-bottom: 10px;
    }
    .detailHotel__info--wapper .fourProductList__wrapper--info__review{
        margin-top: 10px;
        font-size: var(--size-text-4);
        display: flex !important;
    }
    .detailHotel__info--summary,
    .detailHotel__list--body__list--wrap__item--left__popular--name,
    .detailHotel__list--body__list--wrap__item--left__popular--price,
    .detailHotel__list--body__policies--content__check,
    .detailHotel__list--body__list--wrap__item,
    .detailHotel__list--body__list--wrap__item--left__action,
    .detailHotel__list--body__policies--content__fee,
    .detailHotel__list--body__policies--content__dining,
    .fourProductList__wrapper--info__count{
        display: block !important;
    }
    .detailHotelMobile__info--summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .detailHotel__info--summary__right{
        flex-direction: row;
        align-items: center;
        min-height: 0;
    }
    .detailHotel__list--body__detail--content__item{
        padding: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        border: none;
    }
    .detailHotel__list--body__detail--content__item--wrap{
        width: auto;
        border-bottom: 1px solid var(--color-background-12);
        padding-bottom: 10px;
    }
    .detailHotel__list--body__policies--footer{
        justify-content: center;
    }
    .detailHotel__list--body__policies--footer span{
        text-decoration: none;
    }
    .detailHotel__list--footer__btn,.detailHotel__list--body__policies--footer{
        border: 1px solid var(--color-background-0);
        background-color: var(--color-background--0);
        width: 100%;
        border-radius: var(--border-radius-size-2);
        font-size: var(--size-text-4);
        font-weight: 500;
        padding: 10px 15px;
    }
    .detailHotel__list--body__policies--content__check--content__instruction{
        display: block;
        padding: 16px;
        border-radius: 12px;
        background: var(--color-background-12);
        margin-bottom: 16px;
        font-size: var(--size-text-4);
        line-height: 1.5;
        font-weight: 400;
    }
    .detailHotel__list--body__policies--content__check--content__instruction span{
        color: var(--color-text-0);
    }
    .detailHotel__list--body__list--wrap__item--left{
        display: flex;
        align-items: center;
        position: sticky;
        top: 7%;
        border-radius: var(--border-radius-size-3);
        z-index: 99;
        background-color: var(--color-background-6);
        box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
    }
    .detailHotel__list--body__list--wrap__item--left__img{
        margin-right: 10px;
    }
    .detailHotel__list--body__list--wrap__item--left__popular{
        flex: 1;
        min-width: 0;
    }
    .detailHotel__list--body__list--wrap__item--left__popular--price__amount{
        display: flex;
        align-items: center;
    }
    .detailHotel__list--body__list--wrap__item--left__popular--price__amount,
    .detailHotel__list--body__list--wrap__item--left__popular--platform__wrap{
        font-size: var(--size-text-4);
        color: var(--color-text-2);
    }
    .detailHotel__list--body__list--wrap__item--left__popular--price__format{
        color: var(--color-text-0);
        font-size: var(--size-text-5);
        font-weight: 600;
        margin-left: 10px;
    }
    .detailHotel__list--body__list--wrap__item--left__popular--platform__wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .detailHotel__list--body__list--wrap__item--left__popular--platform{
        display: flex;
        width: calc(50% - 4px);
        overflow: hidden;
        align-items: center;
        margin-bottom: 4px;
    }
    .detailHotel__list--body__list--wrap__item--left__action--arrow__down{
        border: 1px solid var(--color-text-7);
        border-radius: 6px;
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }
    .detailHotel__list--body__list--wrap__item--left__action--arrow__down ion-icon{
        color: var(--color-text-7);
    }
    .detailHotel__list--body__list--wrap__item--left__img--main__1{
        flex: none;
        position: relative;
        transition: height .2s;
        width: 66px;
        flex: 0 0 66px;
        min-height: 80px;
    }
    .detailHotel__list--body__list--wrap__item--left__img--main__1 img{
        object-fit: cover;
        height: 100%;
        width: 66px;
        position: absolute;
        transition: all .2s;
    }
    .detailHotel__list--body__list--wrap{
        padding: 16px 0;
        border-top: 1px solid var(--color-background-12);
        margin: 0;
        background-color: var(--color-background-6);
    }
    .detailHotel__list--body__select{
        margin-bottom: 10px;
    }
    .detailHotel__list--body__facility--content__item--content--subitem{
        margin: 0;
        padding: 0;
    }
    .detailHotel__info--summary__right--address span,
    .detailHotel__info--summary__right--location,
    .detailHotel__info--summary__right--map,
    .detailHotel__list--body__facility--content__item--content--subitem {
        font-size: var(--size-text-3);
    }
    .detailHotel__list--body__list--wrap__item--left__img--count{
        border-radius: 0 12px;
        right: auto;
        padding: 1px 4px;
    }
    

/* ==============================================
    Name: service 
    Creact by: TienDat
    Creact at: 23/2/2024
============================================== */
    body.listDetailHotelSevice .detailHotelMobile__list--body__service--container{
        top: 150px;
    }
    body.listDetailHotelSevice .detailHotel__backgroup--blur{
        display: block;
    }
    body.listDetailHotelSevice {
        overflow: hidden;
    }
    body.listDetailHotelSevice2 .detailHotelMobile__list--body__service--container{
        top: 150px;
    }
    body.listDetailHotelSevice2 .detailHotel__backgroup--blur{
        display: block;
    }
    body.listDetailHotelSevice2 {
        overflow: hidden;
    }
    .detailHotelMobile__list--body__service--container{
        position: fixed;
        top: 200vh;
        right: 0;
        background-color: var(--color-background-6);
        width: 100%;
        padding: 26px 0 64px;
        z-index: 1004;
        border-radius: var(--border-radius-size-5);
        transition: all ease-in-out .2s;
        display: block;
    }
    .detailHotelMobile__list--body__service--body{
        overflow-y: scroll;
        height: calc(100vh - 245px);
        padding: 0 20px;
        scroll-behavior: smooth;
    }
    .detailHotelMobile__list--body__service--container::before,
    .detailHotel__list--body__list--wrapper::before{
        position: absolute;
        content: "";
        width: 40px;
        height: 4px;
        background-color: #e6e6e6;
        top: 10px;
        left: calc(50% - 20px);
        border-radius: 2px;        
    }
    .detailHotelMobile__list--body__service--container
    .detailHotel__list--header{
        padding: 32px 0 16px;
    }
    .detailHotelMobile__list--body__service--body nav {
        margin: 0 -20px;
        padding: 0 20px;
        position: sticky;
        top: 0;
        z-index: 99;
        overflow: hidden;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
        height: 35px;
        background-color: var(--color-background-6);
    }
    .detailHotelMobile__list--body__service--body nav a {
        margin-right: 16px;
        padding: 10px 0;
        font-size: var(--size-text-4);
    }
    .detailHotelMobie__footer{
        border-top: 1px solid #eee;
        padding: 8px 20px;
    }
    .detailHotelMobie__footer div{
        width: 100%;
    }
/* ==============================================
    Name: service 
    Creact by: TienDat
    Creact at: 23/2/2024
============================================== */

    body.listDetailHotelRoom .detailHotel__list--body__list--wrap__item--right{
        display: block;
    }
    .detailHotel__list--body__list--wrap__item--right{
        display: none;
        transition: all ease-in .3s;
    }
    .detailHotel__list--body__list--wrap__item--right__body--info{
        display: block;
        padding: 16px 16px 20px;
        border-radius: 12px;
        margin-top: 15px;
        border: 1px solid var(--color-background-12);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-color: var(--color-background-6);
    }
    .detailHotel__list--body__list--wrap__item--right,
    .detailHotel__list--body__list--wrap__item--right__body--info__right,
    .detailHotel__list--body__list--wrap__item--right__body--info__left{
        width: 100%;
        padding: 0;
        border: none;
    }
    /* ==============================================
    Name: roomWrap mobie
    Creact by: TienDat
    Creact at: 23/2/2024
============================================== */
body.listDetailHotelPrice .detailHotel__list--body__list--wrapper{
    top: 150px;
}
body.listDetailHotelPrice2 .detailHotel__list--body__list--wrapper{
    top: 150px;
}
body.listDetailHotelPrice .detailHotel__backgroup--blur{
    display: block;
}
body.listDetailHotelPrice2 .detailHotel__backgroup--blur{
    display: block;
}
body.listDetailHotelPrice,.listDetailHotelPrice2 {
    overflow: hidden;
}
    .detailHotel__list--body__list--wrapper{
        position: fixed;
        right: 0;
        width: 100%;
        height: 90vh;
        top: 200vh;
    }
    .detailHotel__list--body__list--wrapper__container--box nav {
        margin-top: 30px;
        padding: 0 20px;
    }
    .detailHotel__list--body__list--wrapper__container{
        height: calc(100vh - 295px);
        padding: 0 20px;
    }
    body.listDetailHotelRate .detailHotel__list--body__reviews--wrap{
        top: 140px;
    }
    body.listDetailHotelRate .detailHotel__backgroup--blur{
        display: block;
    }
    .detailHotel__list--body__reviews--wrap{
        width: 100%;
        right: 0;
        top: 200vh;
        height: 90vh;
        overflow: hidden;
        overflow-y: scroll;
        border-radius: var(--border-radius-size-4);
    }
    .detailHotel__list--body__reviews--wrap__icon{
        display: none;
    }
    .detailHotel__list--body__reviews--wrap .detailHotel__list--body__reviews{
        padding: 0 20px;
    }

}

@media  (max-width: 550px){
    .detailHotel__list--body__reviews--content__overview--category__item{
        width: 100%;
    }
    .detailHotelMobile__slides--show__item img{
        height: 370px;
    }
}
@media  (max-width: 450px){
    .detailHotelMobile__slides--show__item img{
        height: 330px;
    }
}