/* ==============================================
    Name: footer
    Creact by: NL Thanh Tinh
    Creact at: 12:39 AM 29/11/2024
    Update at: 12:39 AM 29/11/2024
============================================== */

/* phần footer  */
@import url(../css/style.css);

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 1440 
1111
850
450 */


@media only screen and (max-width: 1280px) {

}

@media screen and (max-width: 1100px) {}

@media only screen and (max-width: 1100px) {}

@media only screen and (min-width: 701px) {
    .footer__layout--desktop{display: block;}
    .footer__layout--mobile{display: none;}
}
@media only screen and (max-width: 700px) {
 
    .footer__layout--desktop{
        display:none;
    }

}



.footer__layout--desktop {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.layout__footer--devider {
    background-color: black;
    opacity: .07;
    height: 1.5px;
}

.layout__footer--wrapper {
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

.layout__footerBanner--wrapper {

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px 0;
}

.footer__banner--title {
    font-size: var(--size-text-6);
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

.footer__banner--content {
    margin-top: 12px;
}

.footer__listUnit {
    color: var(--color-text-2);
    margin-top: 12px;
}

.footer__listUnit li {
    font-size: var(--size-text-4);
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 12px;
    width: 250px;
}

.footer__listUnit li a {
    display: inline-block;
    padding: 0 12px 0 12px;
    height: 12px;
    line-height: 2;
    color: var(--color-text-2);
    width: 100%;
}

.footer__banner-left {
    display: flex;
}

.footer__banner {

    margin-right: 30px;
    padding: 0;

}

.footer__map {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-size-4);
    min-width: 158px;
}

.footer__banner-right {}