@import "./../../../style.css";
@import"../../assets/components/root.css";
.container__login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-family: sans-serif;
    margin: 8% 0;
    
}
.container__login--alert{
    width: 436px;
    height: 390px;
    border-radius: var(--border-radius-size-5);
  padding: 50px;
  background-color: var(--color-background-6);
}
.container__login--alert__icon{
text-align: center;
}
.container__login--alert__icon--check{
    font-size: 50px;
    color: var(--color-background-4);
}
.container__login--alert__title{
    font-size: var(--size-text-7);
    text-align: center;
}
.container__login--alert__description{
    font-size: 12px;
    color: var(--color-text-2);
    text-align: center;
    margin: 20px 0;
}
.container__login--alert__btn{
    width: 336px;
    height: 44px;
    border:0 solid #000000;
    background-color: var(--color-background-7);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-text-6);
}
.container__login--alert__btn:hover{
    background-color: #e05000;
}
.container__login--alert__list{
    display: inline-flex;
    margin: 20px 0;
}
.container__login--alert__list--item__description{
    font-size: var(--size-text-3);
    color: var(--color-text-2);
    margin: 0 10px;
}