@import"/assets/css/style.css";

.liveshow__container--body__product--list__page{
    width: 30%;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(10px,1fr));
    margin-left: 71%;
   
}

.liveshow__container--body__product--list__page--item  {
   max-width: 40%;
    border: solid var(--color-background-11) 0.5px;
    padding:4% 40% 4% 20%;
    border-radius: 4px; 
}
.liveshow__container--body__product--list__page--dot {
    margin-bottom:  4%;
    font-size: var(--size-text-6);
    border-radius: 50%;
}
.liveshow__container--body__product--list__page--item__icon{
   padding-right: -40%;
}


