/* width */
::-webkit-scrollbar {
    width:7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-background-7); 
    border-radius: var(--border-radius-size-2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-17); 
  }