.hotel__fitter{
    position: fixed;
    left: 0;
    top: 61px;
    z-index: 100;
    width: 100%;
    padding: 10px 60px;
    background-color: var(--color-background-15);
}
.hotel__fitter--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.hotel__fitter--search{
    margin-right: 8px;
    width: 100%;
}
.hotel__search:hover{
    background-color: #ecf3fc;
}
.hotel__search {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 12px;
    box-sizing: border-box;
    color: var(--color-text-1);
    font-size: var(--size-text-5);
}
.hotel__fitter--btn{
    min-width: 127px;
}
.hotelMobile__fitter{
    display: none;
}
@media  (max-width: 450px){
    .hotel__fitter{
        display: none;
    }
    .hotelMobile__fitter{
        position: relative;
        z-index: 20;
        top: 61px;
        padding: 12px 35px;
        display: block;
    }
    .hotelMobile__fitter--wraper{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 20px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--color-background-12);
    }
    .hotelMobile__fitter--wraper span {
        color: var(--color-background-2);
    }
    .hotelMobile__fitter--date, .hotelMobile__fitter--location{
        font-size: var(--size-text-4);
    }
    .hotelMobile__fitter--location{
        white-space: nowrap; 
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
