.user__wishlist--body{

}
.content{

}
.user__wishlist--empty__desktop{
    display: block;
    margin: 0 auto;
    max-width: 712px;
    padding: 32px 20px;
    text-align: center;

}


.user__wishlist--empty__desktop img{
width: 200px;
height: 200px;
}

.user__wishlist--empty__title{
    color: var(--color-text-2);
    font-size: var( --size-text-12);
    font-weight: 600;
    line-height: 1.5;
    margin-top: 24px;
}
.user__wishlist--empty__content{
    color: var(--color-text-2);
    font-size: var( --size-text-4);
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
}
.user__wishlist--empty__panel{
    margin: 19px -5px -5px;
}

.user__wishlist--empty__panel button{
    background-color: var(--color-background-7);
    border: 1px solid var(--color-background-7);
    color: var(--color-text-6);
    border-radius: 8px;
    font-size: var( --size-text-4);
    line-height: 20px;
    min-width: 72px;
    padding: 7px 12px;
}
.user__wishlist--body {
    background-color: var(--color-background-6);
    border-radius: 12px;
    padding: 0 30px 30px;
}
.user__wishlist--empty__panel a :hover{
    background-color:var( --color-background-17);
}
.user__mb--wishlist{
    background-color: var(--color-background-6);
}
.user__mb--wishlist--body{
    display: block;
    margin: 0 auto;
    max-width: 712px;
    padding: 32px 20px;
    text-align: center;
}
.user__mb--wishlist--body img{
    width: 200px;
    height: 200px;
}
.user__mb--wishlist__title{
    color: var(--color-text-2);
    font-size: var( --size-text-12);
    font-weight: 600;
    line-height: 1.5;
    margin-top: 24px;

}
.user__mb--wishlist__content{

    color: var(--color-text-2);
    font-size: var( --size-text-4);
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
}
.user__mb--wishlist__panel{
    margin: 19px -5px -5px;
}
.user__mb--wishlist__panel button{
    background-color: var(--color-background-7);
    border: 1px solid var(--color-background-7);
    color: var(--color-text-6);
    border-radius: 8px;
    font-size: var( --size-text-4);
    line-height: 20px;
    min-width: 72px;
    padding: 7px 12px;
    background-color: var(--color-background-7);
    border: 1px solid var(--color-background-7);
    max-width: 160px;
    text-align: center;
}