.user__booking--container__wrapper{
width: 54em;
}

.user__booking--container{
    align-items: center;
    color: #212121;
    display: flex;
    font-size: 14px;
    line-height: 20px;
}
.user__booking--container__icon{
    margin-left: 4px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1em;
    transform: translateZ(0);
    width: 1em;
}

.user__booking--content__empty--panel{
    display: block;
    margin: 0 auto;
    max-width: 712px;
    padding: 32px 20px;
    text-align: center;
    
}
.user__booking--content__empty--panel img{
    width: 200PX;
    height: 200PX;
}
.user__booking--content__title{
    
        color: #757575;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        margin-top: 24px;
    
}
.user__booking--content__desc
{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;

}