.user__mb--gift__card--introduction{
    margin-bottom: 20px;
}
.user__gift--card__panel{
    margin-bottom: 20px;
}
.user__gift--card__banner--container{
    background-size: cover;
    height: 220px;
    overflow: hidden;
    max-width: 866px;
    background-image: url(../img/user_gift_card_banner.jpg);
}
.user__gift--card__banner--title{
    color: var(--color-text-6);
    font-size: var(  --size-text-14);
    font-weight: 600;
    line-height: 52px;
    margin: 37px 0 0 30px;
    max-height: 104px;
    max-width: 400px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}
.user__buynow--btn{
    background-color: var(--color-background-6);
    margin: 4px 0 0 30px;
    border-radius: var( --border-radius-size-1);
    font-size: var(  --size-text-3);
    line-height: 16px;
    min-width: 72px;
    padding: 5px 8px;
    border: 1px solid transparent;
    color:var(--color-text-7);
}


/* benefit*/
.user__gift--card__benefit{
    background-color: var(--color-background-6);
    padding: 40px 50px;
    width: 100%;
}

/* res */
.user__gift--card__benefit--items{
    display: inline-flex;
    height: 90px;
    margin-top: 20px;
    max-width: 350px;
}
.user__gift--card__benefit--items:first-child{
    margin-top: 0;
}
.user__gift--card__benefit--items:nth-child(2n){
    margin-left: 60px;

}

.user__gift--card__benefit--icon{
    background-size: cover;
    min-height: 72px;
    min-width: 90px;
}
.user__benefit--icon1{
    background-image: url(../img/user_gif-benefit_1.png);
}
.user__gift--card__benefit--content{
    height: 100%;
    margin-left: 14px;
    max-width: 265px;
}
.user__gift--card__benefit--title{
    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    font-weight: 600;
    line-height: 22px;
}
.user__gift--card__benefit--desc{
    color:var(--color-text-2);
    font-size: var(  --size-text-4);
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    
}
.user__benefit--icon2{
    background-image: url(../img/user_gif-benefit_2.png);
}
.user__benefit--icon3{
    background-image: url(../img/user_gif-benefit_3.png);
}
.user__benefit--icon4{
    background-image: url(../img/user_gif-benefit_4.png);
}


/* banner share with people */
.user__gift--card__share{
    background-color: var(--color-background-6);
    padding: 20px 40px 40px;
}
.user__gift--card__share .title{
    color:var(--color-text-1);
    font-size: var(  --size-text-7);
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px !important;
    text-align: center;
}
.user__gift--card__share .another__person--container{
    display: flex;
    height: 192px;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
}
.wrapper{
    width: 33.333333%;
}
.user__gift--card__another--item{
    background-size: cover;
    height: 160px;
    width: 100%;
}

.user__gift--card__share .desc{
    color:var(--color-text-1);
    font-size: var(  --size-text-3);
    font-weight: 500;
    height: 20px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
  
}
/* ảnh items */
.user__family1{background-image: url(../img/user_another_ps1.jpg);}
.user__family2{background-image: url(../img/user_another_ps2.jpg);}
.user__family3{background-image: url(../img/user_another_ps3.jpg);}



/* banner explore the next trip */
.user__gift--card__explore{
    background-color: var(--color-background-6);
    padding: 20px 40px 28px;
}
.user__gift--card__explore .title{
    color:var(--color-text-1);
    font-size: var(  --size-text-7);
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 15px !important;
    text-align: center;

}

.user__gift--card__explore .adv__img--container{
    display: flex;
    justify-content: space-between;
}
.adv__img--container .adv__img--item .image{
    background-size: cover;
    height: 72px;
    margin: 0 auto;
    width: 72px;

}
/* img items */
.user__gift--card__explore--img1{
    background-image: url(../img/user_explore1.png);
}
.user__gift--card__explore--img2{
    background-image: url(../img/user_explore2.png);
}
.user__gift--card__explore--img3{
    background-image: url(../img/user_explore3.png);
}
.user__gift--card__explore--img4{
    background-image: url(../img/user_explore4.png);
}
.user__gift--card__explore--img5{
    background-image: url(../img/user_explore5.png);
}

/* Banner điền mã quà tặng */
.user__gift--card__redeem--container{
    background-color: var(--color-background-6);
    margin-top: 20px;
    padding: 30px;
    position: relative;

}
.user__gift--card__redeem{
    display: flex;
    justify-content: space-between;
}
.user__gift--card__redeem--left{

}
.user__section--title__header{

}
.user__gift--card__redeem--wrapper{
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.user__gift--card__redeem--wrapper input{
    border: 1px solid #e6e6e6;
    border-radius: var( --border-radius-size-0);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    height: 42px;
    padding-left: 12px;
    padding-right: 12px;
 
}
.user__reedem--btn{
    background-color:var(--color-background-7);
    border-radius: var( --border-radius-size-0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: var(--color-text-6);
    cursor: pointer;
    display: inline-block;
    font-size: var(  --size-text-12);
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 140px;

}


/* Báo lỗi  */
.user__gift--card__redeem--left .errorText
{
    box-sizing: border-box;
    color:var(--color-text-7);
    font-size: var(  --size-text-4);
    height: 28px;
    padding: 6px 0 8px;

}

/* detail */
.user__gift--card__redeem--detail{

}
.user__gift--card__redeem--detail p {
    color:var(--color-text-2);
    display: flex;
    font-size: var(  --size-text-3);
    line-height: 1.4;
    margin-bottom: 4px;
}

.user__gift--card__redeem--detail p span{
    background-color:var(--color-background-3);
    border-radius: var( --border-radius-size-6);
    display: inline-block;
    height: 3px;
    margin-right: 8px !important;
    margin-top: -1px !important;
    min-width: 3px;
    position: relative;
    top: 7px;
    width: 3px;
}
.user__gift--card__redeem--right{

}
.user__gift--card__img--input{
    background-image: url(../img/user_gift_card_input.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 166px;
    width: 100%;
}

/* banner điều khoản */
.user__gift--card__tnc--container{
    background-color: var(--color-background-6);
    margin-top: 20px;
    padding: 30px;
    position: relative;

}
.user__gift--card__tnc--desc{
    font-size: var(  --size-text-4);
    line-height: 24px;
    margin-top: 30px;
}
.user__gift--card__tnc--desc ul li{
    margin-bottom: 16px;
}

/* mobile from here  */
.user__mb--gift__card {
    padding-top: 46px;
}
.user__mb--gift__card--banner__container {
    background-repeat: no-repeat;
    height: 0;
    overflow: hidden;
    padding-bottom: 58.6667%;
    position: relative;
    width: 100%;
    
    background-size: cover;
    z-index: 0;
    background-image: url(https://res.klook.com/image/upload/v1646622198/banner/q45xmuvkmscuqk3furhm.jpg);
}
.user__mb--gift__card--banner__container ::after{    
    background: linear-gradient(180deg, hsla(0, 0%, 96%, 0), #f5f5f5);
    bottom: 0;
    content: "";
    height: 29px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;

}
.user__mb--gift__card--banner__container .title{
    -webkit-box-orient: vertical;
    color: var(--color-text-6);
    font-size: var(  --size-text-15);
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    margin: 15px 0 0 16px;
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.user__mb--gift__card--banner__container .button{
    background-color: var(--color-background-6);
    margin: 4px 0 0 16px;
    border-radius: var( --border-radius-size-1);
    font-size: var(  --size-text-3);
    line-height: 16px;
    min-width: 72px;
    padding: 5px 8px;
    border: 1px solid transparent;
    font-weight:600;
    color:var(--color-text-7);
}

/*  banner advantages */
.user__mb--gift__card--banner__advantages{
    
    background-color: var(--color-background-6);
    border-radius: var( --border-radius-size-4);
    margin: -51px 16px 12px;
    padding: 20px 12px;
    position: relative;
    width: calc(100% - 32px);
    z-index: 1;
}

.user__mb--gift__card--banner__advantages--items{
    align-items: center;
    display: inline-flex;
    margin-bottom: 16px;
    width: 100%;
}
.user__mb--gift__card--banner__advantages--items .icon{
    background-size: cover;
    height: 56px;
    width: 56px;
}
.user__mb--gift__card--banner__advantages--items .content{
    height: 100%;
    margin-left: 8px;
    padding: 0;
    width: calc(100% - 64px);
}
.user__mb--gift__card--banner__advantages--items .title{
    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.user__mb--gift__card--banner__advantages--items .description{
    color:var(--color-text-2);
    font-size: var(  --size-text-4);
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    text-align: left;
}
.user__mb--gift__card--banner__container .giftcard_btn{
    background-color: var(--color-background-6);
    margin: 4px 0 0 16px;
    border-radius: var( --border-radius-size-1);
    font-size: var(  --size-text-3);
    line-height: 16px;
    min-width: 72px;
    padding: 5px 8px;
    border: 1px solid transparent;
    color:var(--color-text-7);
}

.user__mb--gift__card--propositions{
    background-color: var(--color-background-6);
    border-radius: var( --border-radius-size-4);
    margin: -51px 16px 12px;
    padding: 20px 12px;
    position: relative;
    width: calc(100% - 32px);
    z-index: 1;
}


.user__mb--gift__card--propositions .propositions__items .item {
    align-items: center;
    display: inline-flex;
    margin-bottom: 16px;
    width: 100%;
}

.user__mb--gift__card--propositions .propositions__items .item .icon img{
    background-size: cover;
    height: 56px;
    width: 56px;
}
.user__mb--gift__card--propositions .propositions__items .item .content{
    height: 100%;
    margin-left: 8px;
    padding: 0;
    width: calc(100% - 64px);
}
.user__mb--gift__card--propositions .propositions__items .item .content .title{
    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.user__mb--gift__card--propositions .propositions__items .item .content .desc{
    color:var(--color-text-2);
    font-size: var(  --size-text-4);
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    text-align: left;
}
.user__mb--gift__card--audience{
    background-color: var(--color-background-6);
    margin: 12px 0;
    padding: 20px 16px;

}
.user__mb--gift__card--audience .title{
    color:var(--color-text-1);
    font-size: var(  --size-text-7);
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: left;

}
.image__container{
    display: flex;
    justify-content: space-between;
}
.image__item img{
    background-size: cover;
    max-height: 69px;
    max-width: 109px;

}
.image__item .desc{
    color:var(--color-text-1);
    font-size: var(  --size-text-3);
    font-weight: 400;
    height: 20px;
    line-height: 7px;
    margin-top: 8px;
    text-align: center;

}
.user__mb--gift__card--explore{
    background-color: var(--color-background-6);
    padding: 20px 30px;
}

.user__mb--gift__card--explore .title{
    color:var(--color-text-1);
    font-size: var(  --size-text-7);
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: left;
}
.user__mb--gift__card--explore .image__container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 33.3333%);
    justify-content: space-between;
}

.user__mb--gift__card--explore .image__container .image__items{
    width: 104px;
}
.user__mb--gift__card--explore .image__container .image__items img{
    background-size: cover;
    max-height: 40px;
    margin: 0 auto;
    max-width: 40px;
}
.user__mb--gift__card--explore .image__container .image__items .description{
    color:var(--color-text-1);
    font-size: var(  --size-text-3);
    font-weight: 500;
    height: 20px;
    line-height: 16px;
    text-align: center;
}

/* banner 2 */

.user__mb--gift__card--buynow{
    margin-bottom: 0;
    background-color: var(--color-background-6);
    padding: 16px;
    width: 100%;
}

.user__mb--gift__card--buynow .card__buynow--container{
    align-items: center;
    border: 0.5px solid #e6e6e6;
    border-radius: var( --border-radius-size-1);
    display: flex;
    font-size: var(  --size-text-4);
    justify-content: space-between;
    padding: 16px;
    position: relative;
}


.user__mb--gift__card--buynow .card__buynow--container .left .buy_title {
    font-size: var(  --size-text-6);
    font-weight: 600;
    line-height: 26px;
}
.user__mb--gift__card--buynow .card__buynow--container .buy_btn{
    background: var(--color-background-7);
    border-radius: var( --border-radius-size-0);
    color: var(--color-text-6);
    display: inline-block;
    line-height: 20px;
    margin-top: 12px;
    padding: 8px 16px;
}
.right__banner img{
    background-size: cover;
    height: 78px;
    min-width: 94px;
    width: 94px;
}

/* banner use now */
.user__mb--gift__card--redeem__module{
    align-items: center;
    background: var(--color-background-6);
    display: flex;
    height: 73px;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
}
.user__mb--gift__card--redeem__module .banner{
    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    font-weight: 600;
    line-height: 22px;
}
.user__mb--gift__card--redeem__module .button{
    border-radius: var( --border-radius-size-1);
    font-size: var(  --size-text-3);
    line-height: 16px;
    min-width: 72px;
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid #4a4a4a;
    color:var(--color-text-1);
}

/* MUA NHÓM */
.user__mb--gift__card--corporate{
    background-color: var(--color-background-6);
    margin: 12px 0;
    overflow: hidden;
    padding: 25px 16px 60px 16px;

}
.user__mb--gift__card--corporate .title
{
    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

.user__mb--gift__card--corporate .description
{    color:var(--color-text-1);
    font-size: var(  --size-text-5);
    font-weight: 400;
    line-height: 22px;
    margin-top: 8px;
    text-align: left;
}


.user__mb--gift__card--corporate .toolbar
{
    float: right;
    margin-top: 16px;

}

.user__mb--gift__card--corporate .toolbar button
{
    border-radius: var( --border-radius-size-1);
    font-size: var(  --size-text-3);
    line-height: 16px;
    min-width: 72px;
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid #4a4a4a;
    color:var(--color-text-1);
}

/* button */
.user__mb--gift__card--btn__fixed{
    background: var(--color-background-6);
    bottom: 0;
    box-shadow: 0 -1px 8px 0 rgba(0,0,0,.11);
    padding: 8px;
    position: fixed;
    transition: bottom .2s;
    width: 100%;
    z-index: 2;
}
.user__btn--block{
    display: block;
    width: 100%;
    background-color:var(--color-background-7);
    border: 1px solid var(--color-background-7);
    color: var(--color-text-6);
    font-size: var(  --size-text-5);
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    min-width: 86px;
    outline: none;
    overflow: hidden;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    border-radius: var(  --border-radius-size-2);
}