.user__settings--changepwd, .user__settings--notify,.user__settings--deleteaccount{
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 30px;
    margin-bottom: 20px;
}

.user__settings--changepwd__title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    position: relative;
}
.user__settings--changepwd__title--h3{
    font-size: 20px;
    font-weight: 600;
}

.user__section--title__header h3{
    padding-left: 20px;
    position: relative;
    font-weight: 700;
    line-height: 1.32;
}
.user__settings--changepwd__title--desc{
    color: #757575;
    font-size: 14px;
}
.user__settings--input{
    display: inline-block;
    line-height: 0;
    margin: 0 16px 32px 0;
    position: relative;
    vertical-align: text-bottom;
}
.user__settings--input__title,.user__settings--notify__options--desc,.user__settings--deleteaccount__desc{
    color: #757575;
    line-height: 1.5;
    margin-bottom: 8px;
    font-size: 14px;
}
.user__settings--input__title__wrapper{
    position: relative;
}
.user__settings--input__title__container{
    width: 280px;
display: inline-block;
}
.user__settings--input__inner{
    align-items: center;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    color: #212121;
    display: inline-flex;
    font-size: 16px;
    min-height: 44px;
    position: relative;
    transition: border .24s cubic-bezier(.22,0,.08,1);
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.user__settings--input__title__container input{
    background: hsla(0,0%,100%,0);
    border: none;
    caret-color: #ff5b00;   
    line-height: 1.5;
    outline: none;
    padding: 0 12px;
    width: 100%;

}
.user__settings--input__btn{
    font-size: 20px;
    color: #a8a8a8;
    flex-shrink: 0;
    margin-right: 12px;

}
.user__warning{
    bottom: -16px;
    color: #ff5b00;
    font-size: 14px;
    left: 0;
    position: relative;

}
.user__settings--input__btn button:disabled{
    background-color: #e6e6e6;
}

.user__settings--input__btn button, .user__settings--update__btn button{
    background-color: #ff5b00;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    padding: 10px 16px;
}


/* phần cài đặt thông báo */

.user__settings--notify__title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    padding-left: 16px;
    position: relative;

}
.user__settings--notify__title::before{
    background-color: #ff5b00;
    border-radius: 3px;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
}
.user__icon{
    cursor: pointer;
    position: absolute;
    right: 0;

}
.user__iconDrop--up{
    display: none;
}
.user__checkbox--normal{
    margin-right: 60px !important; 
}
.user__settings--notify__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    padding-left: 16px;
    position: relative;
}
.user__settings--notify__options--title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 30px;
}
.user__settings--update__btn{
    margin-top: 40px;
}

/* Cai dat phan xóa tài khoản */

.user__settings--deleteaccount__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    padding-left: 16px;
    position: relative;
}
.user__settings--deleteaccount__title::before {
    background-color: #ff5b00;
    border-radius: 3px;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
}
.user__settings--deleteaccount__title ion-icon{
    cursor: pointer;
    position: absolute;
    right: 0;

}

/* mobile from here!  */
.user__mb--settings{
    background-color: #f5f5f5;
    min-height: 50vh;
    padding-top: 48px;
    position: relative;
}
.user__mb--settings__header{
    align-items: center;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.12);
    display: flex;
    font-size: 18px;
    height: 44px;
    justify-content: center;
    position: fixed;
    top: 62px;
    width: 100%;
    z-index: 1;
}