.mbUser__container{
    display: none;
}
.user__booking--container__wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 98;
}

.user__booking--container {
    align-items: center;
    color: var(--color-text-1);
    display: flex;
    font-size: var(--size-text-4);
    line-height: 20px;
}

.user__booking--container__icon {
    margin-left: 4px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1em;
    transform: translateZ(0);
    width: 1em;
}

.user__booking--content__empty--panel {
    display: block;
    margin: 0 auto;
    max-width: 712px;
    padding: 32px 20px;
    text-align: center;

}

.user__booking--content__empty--panel img {
    width: 200PX;
    height: 200PX;
}

.user__booking--content__title {

    color: var(--color-text-2);
    font-size: var(--size-text-12);
    font-weight: 600;
    line-height: 1.5;
    margin-top: 24px;

}

.user__booking--content__desc {
    color: var(--color-text-2);
    font-size: var(--size-text-4);
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;

}

.user__booking--popular__zone {
    margin: 80px 20px;
}

.user__booking--popular__title {
    font-size: var(--size-text-6);
    font-weight: 600;
    line-height: 1.32;
    margin-bottom: 26px;
}
.user__booking--popular__container{
    margin: -15px;
    max-width: none;
    padding: 15px;
    overflow-x: hidden;
    
}


.user__booking--popular__wrapper {
    margin: 0;
    position: relative;
    min-width: 865px;
}

.user__booking--popular__slide--banner {
    transform: translateX(0px);
    display: flex;
    transition: transform 0.32s cubic-bezier(.22,0,.08,1);
}

/* nút chuyển slide  */
.user__booking--popular__btn{
    align-items: center;
    background-color: var( --color-background-6  );
    border: 1px solid #e6e6e6;
    border-radius: var(--border-radius-size-6);
    color: var(--color-text-2);
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    position: absolute;
    width: 32px;
    top: 40%;
    z-index: 99;    
}
.user__left--btn{
    left: -20px;
}
.user__right--btn{
    right: 0px;
}
/* ========================================================== */


.user__booking--popular__slide--items {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    flex-direction: column;
    border-radius: var(--border-radius-size-1);
    width: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.user__booking--popular__slide--image img{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--color-background-12);
    border-radius:  6px 6px 0px 0px;
    width: 100%;
    margin: 0px;

}

.user__booking--popular__slide--tour {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color:var(--color-background-6);
    min-height: 90px;
    width: 100%;
    padding: 10px 16px 0px;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.user__booking--popular__slide--tour__name {
    font-size: var(--size-text-4);
    line-height: 20px;
    color: var(--color-text-10);
    font-weight: 600;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user__booking--popular__slide--tour__inf {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 16px;
    width: 100%;
    padding: 4px 0px 0px;
    margin: 0px;
}

.user__booking--popular__slide--tour__rate,
.user__booking--popular__slide--tour__detail {

    font-size: var(--size-text-3);
    line-height: 16px;
    color: var(--color-text-24);
    font-weight: 500;
    max-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 0 2px;
}

.user__booking--popular__slide--tour__detail {
    color: var(--color-text-11);
}

.user__booking--popular__slide--tour__tag {
    max-height: 18px;
    overflow: hidden;
    padding: 7px 0px 0px;
    width: 100%;
    margin: 0px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}


.user__booking--popular__slide--tour__tag--item {
    background-color: var(--color-background-6);
    background:var(--color-background-12);
    border-radius: var(--border-radius-size-6);
    color: var(--color-text-2);
    display: -webkit-box;
    font-size: var(--size-text-3);
    line-height: 16px;
    margin-right: 6px;
    max-height: 18px;
    max-width: 100%;
    overflow: hidden;
    padding: 1px 6px;
    text-overflow: ellipsis;
}
/* hover items */


.user__booking--popular__slide--items__wrapper {

    flex: 0 0 275px;
    position: relative;
    width: 275px;
    margin-right: 20px;
}
.user__booking--popular__slide--items:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.user__booking--popular__slide--tour__price {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    background-color:var(--color-background-6);
    border-radius:  0px 0px 6px 6px;
    height: 74px;
    width: 100%;
    padding: 0px 16px 12px;
    margin: 0px;
}

.user__bookinglist--viewmore{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.user__bookinglist--viewmore__btn{
    background-color: transparent;
    border: 1px solid #4a4a4a;
    color: var(--color-text-1);
    border-radius: var( --border-radius-size-2);
    font-size: var(--size-text-5);
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    min-width: 86px;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    transition: background-color .24s cubic-bezier(.22,0,.08,1);
}
/* moblie */
.mbUser__container {
    padding-top: 61px;
    min-height: 350px;
    background-color: var(--color-background-3);
}

.mbUser__bookinglist {
    margin-top: 60px;
}

.mbUser__bookinglist--title {
    background-color: var(--color-background-6);
    border-top: 1px solid #eee;
    font-size: var(--size-text-5);
    font-weight: 600;
    height: 44px;
    line-height: 44px;
    position: fixed;
    text-align: center;
    top: 61px;
    width: 100%;
    z-index: 2;
}

.mbUser__bookinglist--content,
.mbUser__content {
    padding: 14px 16px;
}

.mbUser__bookinglist--content__dropdown--btn {
    align-items: center;
    color: var(--color-text-1);
    display: flex;
    font-size: var(--size-text-4);
    line-height: 20px;
}

.mbUser__bookinglist--content__dropdown--btn ion-icon {
    margin-left: 6px;
}

.mbUser__bookinglist--content__noData {
    display: block;
    padding-top: 22px
    
}
.mbUser__bookinglist--content__noData--wrapper{
    display: block;
    margin: 0 auto;
    max-width: 712px;
    padding: 32px 20px;
    text-align: center;
}

.mbUser__bookinglist--content__noData--emptyArea img{
    width: 30%
}

.mbUser__bookinglist--content__noData--title{
    color: var(--color-text-2);
    font-size: var(--size-text-12);
    font-weight: 700;
    line-height: 1.5;
    margin-top: 24px;
}
.mbUser__bookinglist--content__noData--content{
    color: var(--color-text-2);
    font-size: var(--size-text-4);
    font-weight: 500;
    line-height: 1.5;
    margin-top: 8px;
}
.mbUser__bookinglist--content__popular{
    margin-top: 40px;
}
.mbUser__bookinglist--content__popular--title{
    color: var(--color-text-1);
    font-size: var(--size-text-12);
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: left;
}

.mbUser__bookinglist--content__dropdown--list{
    z-index: 200;
    position: absolute;
    inset: 7px auto auto 0px;
    transform: translate3d(16px, 152px, 0px);
    min-width: 120px;
    max-width: 320px;
    max-height: 320px;
    border-radius: var(--border-radius-size-5);
    background-color: var(--color-background-6);
    display: none;
}
body.listUserBookingDropDown .mbUser__bookinglist--content__dropdown--list{
    display: block;
}
.mbUser__bookinglist--content__dropdown--list div{
    align-items: flex-start;
    border-bottom: 1px solid var(--color-background-22);
    color: var(--color-text-1);
    display: flex;
    font-size: var( --size-text-5);
    line-height: 1.5;
    max-width: 100%;
    overflow: hidden;
    padding: 11px 20px;
    transition: background-color .24s cubic-bezier(.22,0,.08,1);
}
@media only screen and (max-width: 800px){
    .mbUser__container{
        display: block ;
    }
}
