/* ==============================================
    Name: usser list mobile
    Creact by: Nguyen Le Thanh Tinh
    Creact at: 8:44AM 29/01/2024
    Update at: 8AM 12/2/2024
============================================== */
 .user__center--container{
    background-color: rgb(250, 250, 250);
    
  }
  .user__center--box{
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 40px;
    max-width: 1160px;
  }
   
  .fill__more--info{
    align-items: center;
    background-color: #ecf3fc;
    border: 1px solid rgba(67,125,255,.3);
    border-radius: 6px;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 16px;
  }
   .fill__more--info img{
    margin-right: 8px;
    width: 20px;
    height: 20px;
   }
   .fill__more--info span{
    font-size: 16px;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 0;
   }
  
   .fill__more--info ion-icon{
    width: 16px;
    height: 16px;
    margin-left: auto;
  }
  .user__center--sidebarwrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    height: 1011px;
  
  
  }
  .user__center--sidebar__profile{
    display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 238px;
      padding: 40px 0 30px;
      text-align: center;
      width: 100%;
  }
  .user__center--sidebar{
    background-image: url("../img/user_background.png");
    background-repeat: no-repeat;
    border-radius: var(--border-radius-size-2);
    width: 17em;
  }
  
  .user__content{
    width: 865px;
    height: 621px;
  }
  
  /* avatar- user  */
  .user__center--sidebar__profile--avatar__cover{
    border-radius: 50%;
  }
  .user__center--sidebar__profile--avatar {
      border: 2px solid #fff;
      border-radius: 50%;
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.14);
      height: 90px;
      margin-bottom: 18px;
      position: relative;
      width: 90px;
  }
  .user__center--sidebar__profile--changer{
    display: flex;
    color: var(--color-text-6);
    /* color: var(--color-text-19); */
    font-weight: 500;
    margin-top: 10px;
  }
/* thanh công cụ  */
  .user__center--sidebar--preferential{
    border-top: 1px solid #e6e6e6;
    padding: 12px 0 7px;
    background-color: var(--color-background-6);
  }



  /* right sight  */
  .user__content--box{
    background-color: pink;
    width: 54em;
    border-radius: var(--border-radius-size-2);
  }